:root {
    --color-primary: blue;
    --color-secondary: gold;
    --text-primary: black;
    --text-secondary: white;
    --bg-header: purple;

    /*cores para section de video*/
    --text-title: #0000CD;
    --primary-paragrafo: black;
    --secondary-paragrafo: white;
    --primary-backgroud: #222222;
    --secondary-backgroud: white;

}

/* BOA SORTE PESSOAL SE PRECISAR DE ALGUMA AJUDA SO ME FALAR ATT CESAR*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bloco1{
    background-image: url("../images/img1.jpg");
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: flex-end;
    background-size: cover;
}

.bloco1 p {
    font-family: "Montserrat";
    color: var(--text-paragrafo);
    font-size: 50px;
    font-weight: 500;
    margin-right: 10px;
    margin-top: 20px;
}


/*Header*/

header{
    display: flex;
    background-color: var(--bg-header);
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-around;
}


.img-header{
    height: 75px;
    margin-left: 10px;

}
.menu{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu ul{
    display: flex;
    justify-content: flex-end;
}


.menu li{
    font-family: "Montserrat", sans-serif;
    background-color: var(--secondary-backgroud);
    width: 190px;
    height: 60px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

.menu li a{    
    align-self: center;
    color: var(--text-primary);
    text-decoration: none;
}





/*SECTION VIDEO*/
.event-video {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-backgroud);
    width: 100%;
    height: 600px;
}

.event-video .EmblemaPE {
    background-image: url("../images/Bandeira_de_Recife.png");
    width: 400px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 30px 0 0 20px;
}

.event-video h2 {
    font-family: "DynaPuff", sans-serif;
    text-align: start;
    text-align: center;
    color: var(--text-title);
    width: 90%;
    margin: 10px 0 10px 20px;
}

.event-video p {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-weight: 500;
    color: var(--text-secondary);
    width: 90%;
    margin: 0px 0px 0px 20px;
}

.event-video .video iframe {
    width: 880px;
    height: 500px;
    margin: 30px 20px 0 0;

}

/*FOOTER*/
footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 350px;
    background-color: var(--secondary-backgroud);
}

footer .perfil {
    background-repeat: no-repeat;
    background-position: center;
    width: 30%;
    height: 100%;
    margin: 5px 0px 0px 0px;

}

footer #imgPerfilCesar {
    background-image: url(../images/CesarDAnovich.png);
}

footer #imgPerfilThalita {
    background-image: url(../images/ThalitaOliveira.png);
}

footer a {
    margin-left: 1em;
}

/*FOOTER - RODAPÉ*/
.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    background-color: var(--primary-backgroud);
    color: var(--secondary-paragrafo);

}

.event-video h2 {
    font-family: "DynaPuff", sans-serif;
    text-align: start;
    text-align: center;
    color: var(--text-title);
    width: 90%;
    margin: 10px 0 10px 20px;
}

.rodape p {
    font-family: "montserrat", sans-serif;
    text-transform: uppercase;
}

/* PESSOAL DAQUI PARA BAIXO É O CSS PARA DAR RESPONSIVO PARA MOBILE */

/*Resposive Mobile */
@media (max-width: 425px) {

    /*SECTION VIDEO*/
    .event-video {
        flex-direction: column;
        height: auto;
    }

    .event-video .EmblemaPE {
        width: 85%;
        height: 200px;
        background-position: center;
        background-repeat: no-repeat;
        margin: 30px 0 0 20px;
        border: 2px solid red;
    }

    .event-video p {
        font-family: "Montserrat", sans-serif;
        text-align: center;
        font-weight: 500;
        color: var(--text-secondary);
        width: 90%;
        margin: 0px 0px 0px 5px;
    }

    .event-video .video iframe {
        width: 90%;
        height: auto;
        align-items: center;
        text-align: center;
        margin: 10px 0px 10px 0px;
        border: 2px solid red;

    }



    footer {
        flex-direction: column;
        align-items: center;
        width: auto;
        padding: 2em;
    }

    footer .perfil {
        max-width: 100%;
        border: 2px solid red;
        margin: 10px 20px 0px 0px;

    }

    .rodape p {
        font-family: "montserrat", sans-serif;
        font-size: 0.5em;
        text-transform: uppercase;
    }

}